/* .table {
  margin-top: 100px;
} */

#table {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
  background: #eeeeee;
  border-radius: 5px;
  margin: 4rem 0rem;
}

#admin-page {
  display: grid;
  place-content: center;
}
