#products-container-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: black;
  background: white;
}

#products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  color: black;
  background: white;
}

img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border: 2px solid black;
}

.product {
  margin: 1rem 2rem 1rem 0rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  /* background: lightgray; */
  margin: 2rem 1rem;
  border-radius: 5px;
}

.product-container div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.products-h2 {
  font-size: 1.5rem;
  font-family: 'Yusei Magic', sans-serif;
}
