#products-container-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: black;
  top: 100vh;
  position: absolute;
}

#products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  color: black;
  background: #f2f2f2;
  border-radius: 10px;
}

img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border: 2px solid black;
}

.product {
  margin: 1rem 2rem 1rem 0rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  margin: 2rem 1rem;
  border-radius: 5px;
}

.product-container div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.products-h2 {
  font-size: 1.5rem;
  font-family: 'Yusei Magic', sans-serif;
}

#transition1 {
  height: 10px;
  background: #767cbf;
  width: 100%;
}

#transition2 {
  height: 15px;
  background: #86e3e9;
  width: 100%;
}

#transition3 {
  height: 20px;
  background: #b3f3ed;
  width: 100%;
}
