#intro {
  color: white;
  position: absolute;
  top: 35vh;
  left: 11vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  z-index: 5;
}

#landing-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 130vh;
  width: 100%;
  z-index: 10;
}

#intro-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes rotation-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#intro button {
  background-color: #56e5ac;
  height: 40px;
  width: 100px;
  margin-right: 1rem;
  margin-top: 0.25rem;
  border-radius: 4px;
  border: 2px solid #00c29f;
  color: black;
}

#intro .button-negative {
  background-color: transparent;
  height: 40px;
  width: 100px;
  border: 1px solid white;
  color: white;
}

#intro h1 {
  font-size: 4rem;
  letter-spacing: 0.675rem;
}

#intro h3 {
  font-size: 1.25rem;
}

#intro p {
  font-size: 1rem;
}

#planet {
  position: fixed;
  border: 0px;
  top: 42vh;
  right: 3vw;
}

.stars {
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -9;
}

#dimStars {
  z-index: -10;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
}

.orbit {
  position: fixed;
  border: 0px;
  z-index: -10;
  bottom: -1100px;
  right: -500px;
  animation: rotation 500s infinite linear;
}

#orbit-moon {
  position: fixed;
  border: 0px;
  /* z-index: -1; */
  bottom: -1100px;
  right: -500px;
  width: 1812px;
  height: 1812px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform-origin: 50% 50%;
  animation: rotation 100s infinite linear;
}

#moon {
  z-index: 10;
  animation: rotation-cw 100s infinite linear;
}

#horizontal-moons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#landing-products h1 {
  margin-top: -13rem;
  color: white;
  letter-spacing: 2px;
}

#landing-products h1:hover {
  cursor: pointer;
}
