/* WELCOME STYLING */

#welcome {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

#welcome-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#welcome button {
  background-color: #56e5ac;
  height: 40px;
  width: 100px;
  margin-right: 1rem;
  margin-top: 0.25rem;
  border-radius: 4px;
  border: 2px solid #00c29f;
  color: black;
}

#welcome .button-negative {
  background-color: transparent;
  height: 40px;
  width: 100px;
  border: 1px solid white;
  color: white;
  z-index: 999;
}

#welcome-container-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 32vh;
  width: 100%;
  z-index: 5;
  height: 500px;
}

#welcome-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1066px;
  width: 100%;
}

#welcome h1 {
  font-size: 4rem;
  letter-spacing: 0.675rem;
}

#welcome h3 {
  font-size: 1.25rem;
}

#welcome p {
  font-size: 1.5rem;
}

/* COMPONENT STYLING */
#home-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 130vh;
  width: 100%;
  z-index: 10;
}

#home-products h1 {
  margin-top: -5rem;
  margin-bottom: 10rem;
  color: white;
  letter-spacing: 2px;
}

#home-products h1:hover {
  cursor: pointer;
}

#horizontal-moons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#moon {
  z-index: 10;
  animation: rotation-cw 100s infinite linear;
}

#orbit {
  animation: rotation 500s infinite linear;
  border: 0px;
  bottom: -60vw;
  position: fixed;
  right: -36vw;
  z-index: -10;
  width: 110vw;
}

#orbit-moon {
  animation: rotation 100s infinite linear;
  align-items: center;
  border: 0px;
  bottom: -60vw;
  display: flex;
  flex-direction: column;
  height: 1812px;
  justify-content: space-between;
  position: fixed;
  right: -36vw;
  width: 1812px;
  transform-origin: 50% 50%;
}

#planet {
  position: fixed;
  border: 0px;
  top: 38vh;
  right: 3vw;
  width: 51vw;
  opacity: 0.8;
}

.stars {
  width: 100vw;
  top: -30vh;
  left: 0;
  position: fixed;
  z-index: -9;
}

#starsTall {
  height: 100vh;
  width: 100vw;
  top: 0px;
}

/* ANIMATIONS */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes rotation-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
