#landing {
  height: 90vh;
  color: white;
}

#landing-container {
  position: absolute;
  top: 42vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

#landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#planets {
  position: fixed;
  top: 20vh;
  right: -250px;
  width: 800px;
  height: 800px;
  animation: rotation 30s infinite linear;
  border: 0px;
  z-index: -1;
}

#planets2 {
  position: fixed;
  top: 23vh;
  right: -215px;
  width: 700px;
  height: 700px;
  animation: rotation 18s infinite linear;
  border: 0px;
  z-index: -1;
}

#orbit1 {
  position: fixed;
  top: 20vh;
  right: -250px;
  width: 800px;
  height: 800px;
  animation: rotation 300s infinite linear;
  border: 0px;
  z-index: -1;
}

#orbit2 {
  position: fixed;
  top: 23vh;
  right: -215px;
  width: 700px;
  height: 700px;
  animation: rotation 240s infinite linear;
  border: 0px;
  z-index: -1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

#landing button {
  background-color: #31e981;
  height: 40px;
  width: 100px;
  margin-right: 1rem;
  margin-top: 0.25rem;
  border-radius: 4px;
  border: 1px solid black;
  color: black;
}

#landing .button-negative {
  background-color: transparent;
  height: 40px;
  width: 100px;
  border: 1px solid white;
  color: white;
}

#landing h1 {
  font-size: 5rem;
  letter-spacing: 2px;
}

#landing h3 {
  font-size: 1.25rem;
}

#landing p {
  font-size: 1rem;
}

.planet {
  position: fixed;
  border: 0px;
  z-index: -1;
  bottom: -63px;
  right: 56px;
}

.stars {
  position: fixed;
  border: 0px;
  z-index: -3;
  top: 0px;
}

.dimStars {
  position: fixed;
  border: 0px;
  z-index: -3;
  top: 0px;
}

.orbit {
  position: fixed;
  border: 0px;
  z-index: -1;
  bottom: -1326px;
  right: -595px;
  animation: rotation 500s infinite linear;
}

.orbitPlanet {
  position: fixed;
  border: 0px;
  z-index: 1;
  top: 0px;
  right: 0px;
  /* animation: rotation 500s infinite linear; */
}
