.productTable {
  /* padding-right: 1%;
  padding-left: 1%;
  padding-top: 10px; */
  display: table;
  background: white;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 2px 4px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.productRow {
  border-bottom: 1px solid #dddddd;
}

.productTable input {
  display: table-row;
  width: 125px;
  border: 1px solid #cccccc;
  padding: 0.25rem;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerCell {
  display: table-cell;
  width: 139px;
}

.submitCell {
  display: table-cell;
}

.inputCell {
  display: table-cell;
}

input {
  margin: 2px;
}

/* .addProductRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #f6f6f6;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #cccccc;
} */

.productTable form {
  margin: 0.25rem 1rem;
}

.productTable button {
  margin-left: 0.5rem;
  width: 60px;
  height: 28px;
  background: white;
  border: 1px solid #858585;
  border-radius: 2px;
}

.productTable .red {
  color: #dd3e4c;
  border: 1px solid #dd3e4c;
}

.productTable .green {
  background-color: #56e5ac;
  border: 2px solid #00c29f;
}

.product-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #f6f6f6;
  padding: 0.5rem 1.2rem;
  font-size: 0.75rem;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #cccccc;
}
