/* .productTable {
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 10px;
  display: table;
}

.productRow {
  display: table-row;
}

.headerCell {
  display: table-cell;
}

.submitCell {
  display: table-cell;
}

.inputCell {
  display: table-cell;
}

input {
  margin: 2px;
} */
