#userTable-header {
  background: #f6f6f6;
  padding: 0.5rem 1.2rem;
  font-size: 0.75rem;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #cccccc;
}

#userTable td {
  height: 30px;
  padding: 0.125rem;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  margin: 0.125rem;
}

#userTable tr {
  border-bottom: 1px solid #dddddd;
}

#userTable {
  background: white;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  width: 1026px;
}

table {
  width: 100%;
  border: none;
}
