* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(
      to bottom,
      rgba(30, 30, 30, 0.85),
      rgba(30, 30, 30, 0.92)
    ),
    url('https://assets.website-files.com/5c6c5d537c647f619adce5fc/5c6cd2b307ffea0ab0d49884_pexels-photo-1341279.jpeg');
  /* background: rgba(0, 9, 255, 0.5); */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

button:hover {
  cursor: pointer;
}
