* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(
      160deg,
      rgba(31, 32, 65, 0.9) 0%,
      rgba(50, 32, 65, 0.9) 80%,
      rgba(82, 35, 70, 0.9) 100%
    ),
    url('https://assets.website-files.com/5c6c5d537c647f619adce5fc/5c6cd2b307ffea0ab0d49884_pexels-photo-1341279.jpeg');

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

button:hover {
  cursor: pointer;
}
