* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #3e325e;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

button:hover {
  cursor: pointer;
}
